In [47]:
import pandas as pd

NBA = pd.read_csv('C:/master/Pràctica II Visualització/NBA.csv')

In [48]:
NBA.head(5)

,GAME_DATE_EST,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,...,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,TEAM_ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,YEAR
0,2021-05-26,42000102,1610612755,1610612764,120.0,0.557,0.684,0.429,26.0,45.0,...,0.402,0.633,0.091,22.0,40.0,WAS,Wizards,1961,Washington,2021
1,2021-05-26,42000102,1610612755,1610612764,120.0,0.557,0.684,0.429,26.0,45.0,...,0.402,0.633,0.091,22.0,40.0,WAS,Wizards,1961,Washington,2021
2,2021-05-26,42000102,1610612755,1610612764,120.0,0.557,0.684,0.429,26.0,45.0,...,0.402,0.633,0.091,22.0,40.0,WAS,Wizards,1961,Washington,2021
3,2021-05-26,42000102,1610612755,1610612764,120.0,0.557,0.684,0.429,26.0,45.0,...,0.402,0.633,0.091,22.0,40.0,WAS,Wizards,1961,Washington,2021
4,2021-05-26,42000102,1610612755,1610612764,120.0,0.557,0.684,0.429,26.0,45.0,...,0.402,0.633,0.091,22.0,40.0,WAS,Wizards,1961,Washington,2021

In [49]:
NBA = NBA.drop_duplicates()

NBA.head(5)

,GAME_DATE_EST,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,...,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,TEAM_ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,YEAR
0,2021-05-26,42000102,1610612755,1610612764,120.0,0.557,0.684,0.429,26.0,45.0,...,0.402,0.633,0.091,22.0,40.0,WAS,Wizards,1961,Washington,2021
14,2021-05-23,42000101,1610612755,1610612764,125.0,0.495,0.697,0.313,27.0,40.0,...,0.557,0.800,0.400,26.0,41.0,WAS,Wizards,1961,Washington,2021
28,2021-05-20,52000201,1610612764,1610612754,142.0,0.581,0.769,0.500,34.0,52.0,...,0.410,0.857,0.366,30.0,40.0,WAS,Wizards,1961,Washington,2021
42,2021-05-18,52000101,1610612738,1610612764,118.0,0.396,0.844,0.333,20.0,49.0,...,0.435,0.850,0.143,17.0,49.0,WAS,Wizards,1961,Washington,2021
56,2021-05-16,22001080,1610612764,1610612766,115.0,0.484,0.810,0.323,22.0,53.0,...,0.394,0.917,0.311,25.0,42.0,WAS,Wizards,1961,Washington,2021

In [50]:
NBA['NICKNAME'].unique()

array(['Wizards', '76ers', 'Hawks', 'Knicks', 'Grizzlies', 'Jazz',
       'Celtics', 'Nets', 'Lakers', 'Suns', 'Mavericks', 'Clippers',
       'Heat', 'Bucks', 'Trail Blazers', 'Nuggets', 'Warriors', 'Pacers',
       'Spurs', 'Hornets', 'Raptors', 'Rockets', 'Cavaliers', 'Magic',
       'Pistons', 'Bulls', 'Timberwolves', 'Pelicans', 'Thunder', 'Kings'],
      dtype=object)

In [51]:
nba = NBA.groupby(['NICKNAME', 'YEAR', 'CITY']).agg({'PTS_home': ['sum', 'mean'], 'PTS_away': ['sum', 'mean'], 'AST_home': ['sum', 'mean'], 'AST_away': ['sum', 'mean'], 'REB_home': ['sum', 'mean'], 'REB_away': ['sum', 'mean'], 'FG_PCT_home': 'mean', 'FG_PCT_away': 'mean', 'FT_PCT_home': 'mean', 'FT_PCT_away': 'mean', 'FG3_PCT_home': 'mean', 'FG3_PCT_away': 'mean'})

nba.columns = ['Total PTS_home', 'Mean PTS_home', 'Total PTS_away', 'Mean PTS_away', 'Total AST_home', 'Mean AST_home', 'Total AST_away', 'Mean AST_away', 'Total REB_home', 'Mean REB_home', 'Total REB_away', 'Mean REB_away', 'FG_PCT_home', 'FG_PCT_away', 'FT_PCT_home', 'FT_PCT_away', 'FG3_PCT_home', 'FG3_PCT_away']
nba = nba.reset_index()

nba.head(6)

,NICKNAME,YEAR,CITY,Total PTS_home,Mean PTS_home,Total PTS_away,Mean PTS_away,Total AST_home,Mean AST_home,Total AST_away,...,Total REB_home,Mean REB_home,Total REB_away,Mean REB_away,FG_PCT_home,FG_PCT_away,FT_PCT_home,FT_PCT_away,FG3_PCT_home,FG3_PCT_away
0,76ers,2019,Philadelphia,10919.0,112.567010,10501.0,108.257732,2478.0,25.546392,2305.0,...,4355.0,44.896907,4290.0,44.226804,0.469619,0.455907,0.764814,0.756175,0.353588,0.344361
1,76ers,2020,Philadelphia,5937.0,112.018868,5645.0,106.509434,1268.0,23.924528,1228.0,...,2436.0,45.962264,2328.0,43.924528,0.468491,0.441075,0.773811,0.748774,0.352755,0.350981
2,76ers,2021,Philadelphia,7834.0,113.536232,7555.0,109.492754,1729.0,25.057971,1546.0,...,3036.0,44.000000,3000.0,43.478261,0.479609,0.458638,0.756913,0.770493,0.385406,0.346623
3,Bucks,2019,Milwaukee,11661.0,114.323529,11425.0,112.009804,2633.0,25.813725,2494.0,...,4956.0,48.588235,4880.0,47.843137,0.451588,0.447735,0.737196,0.760794,0.363078,0.353961
4,Bucks,2020,Milwaukee,7135.0,115.080645,7014.0,113.129032,1590.0,25.645161,1452.0,...,2983.0,48.112903,2915.0,47.016129,0.457161,0.440161,0.773226,0.793065,0.367645,0.343952
5,Bucks,2021,Milwaukee,8137.0,117.927536,7995.0,115.869565,1774.0,25.710145,1721.0,...,3275.0,47.463768,3074.0,44.550725,0.473522,0.468319,0.754942,0.789217,0.392101,0.369116

In [52]:
points = nba['Total PTS_home'] + nba['Total PTS_away']
mean_points = (nba['Mean PTS_home'] + nba['Mean PTS_away'])/2
assists = nba['Total AST_home'] + nba['Total AST_away']
mean_assists = (nba['Mean AST_home'] + nba['Mean AST_away'])/2
rebounds = nba['Total REB_home'] + nba['Total REB_away']
mean_rebounds = (nba['Mean REB_home'] + nba['Mean REB_away'])/2
FG_PCT = (nba['FG_PCT_home'] + nba['FG_PCT_away'])/2
FT_PCT = (nba['FT_PCT_home'] + nba['FT_PCT_away'])/2
FG3_PCT = (nba['FG3_PCT_home'] + nba['FG3_PCT_away'])/2

nba['Total PTS'] = points
nba['Mean PTS'] = mean_points
nba['Total AST'] = assists
nba['Mean AST'] = mean_assists
nba['Total REB'] = rebounds
nba['Mean REB'] = mean_rebounds
nba['Field Goal %'] = FG_PCT
nba['Free Throw %'] = FT_PCT
nba['3-point Field Goal %'] = FG3_PCT

nba.head(6)

,NICKNAME,YEAR,CITY,Total PTS_home,Mean PTS_home,Total PTS_away,Mean PTS_away,Total AST_home,Mean AST_home,Total AST_away,...,FG3_PCT_away,Total PTS,Mean PTS,Total AST,Mean AST,Total REB,Mean REB,Field Goal %,Free Throw %,3-point Field Goal %
0,76ers,2019,Philadelphia,10919.0,112.567010,10501.0,108.257732,2478.0,25.546392,2305.0,...,0.344361,21420.0,110.412371,4783.0,24.654639,8645.0,44.561856,0.462763,0.760495,0.348974
1,76ers,2020,Philadelphia,5937.0,112.018868,5645.0,106.509434,1268.0,23.924528,1228.0,...,0.350981,11582.0,109.264151,2496.0,23.547170,4764.0,44.943396,0.454783,0.761292,0.351868
2,76ers,2021,Philadelphia,7834.0,113.536232,7555.0,109.492754,1729.0,25.057971,1546.0,...,0.346623,15389.0,111.514493,3275.0,23.731884,6036.0,43.739130,0.469123,0.763703,0.366014
3,Bucks,2019,Milwaukee,11661.0,114.323529,11425.0,112.009804,2633.0,25.813725,2494.0,...,0.353961,23086.0,113.166667,5127.0,25.132353,9836.0,48.215686,0.449662,0.748995,0.358520
4,Bucks,2020,Milwaukee,7135.0,115.080645,7014.0,113.129032,1590.0,25.645161,1452.0,...,0.343952,14149.0,114.104839,3042.0,24.532258,5898.0,47.564516,0.448661,0.783145,0.355798
5,Bucks,2021,Milwaukee,8137.0,117.927536,7995.0,115.869565,1774.0,25.710145,1721.0,...,0.369116,16132.0,116.898551,3495.0,25.326087,6349.0,46.007246,0.470920,0.772080,0.380609

In [53]:
nba.drop('Total PTS_home', inplace=True, axis=1)
nba.drop('Mean PTS_home', inplace=True, axis=1)
nba.drop('Total PTS_away', inplace=True, axis=1)
nba.drop('Mean PTS_away', inplace=True, axis=1)
nba.drop('Total AST_home', inplace=True, axis=1)
nba.drop('Mean AST_home', inplace=True, axis=1)
nba.drop('Total AST_away', inplace=True, axis=1)
nba.drop('Mean AST_away', inplace=True, axis=1)
nba.drop('Total REB_home', inplace=True, axis=1)
nba.drop('Mean REB_home', inplace=True, axis=1)
nba.drop('Total REB_away', inplace=True, axis=1)
nba.drop('Mean REB_away', inplace=True, axis=1)
nba.drop('FG_PCT_home', inplace=True, axis=1)
nba.drop('FG_PCT_away', inplace=True, axis=1)
nba.drop('FT_PCT_home', inplace=True, axis=1)
nba.drop('FT_PCT_away', inplace=True, axis=1)
nba.drop('FG3_PCT_home', inplace=True, axis=1)
nba.drop('FG3_PCT_away', inplace=True, axis=1)

In [54]:
nba.head(6)

,NICKNAME,YEAR,CITY,Total PTS,Mean PTS,Total AST,Mean AST,Total REB,Mean REB,Field Goal %,Free Throw %,3-point Field Goal %
0,76ers,2019,Philadelphia,21420.0,110.412371,4783.0,24.654639,8645.0,44.561856,0.462763,0.760495,0.348974
1,76ers,2020,Philadelphia,11582.0,109.264151,2496.0,23.547170,4764.0,44.943396,0.454783,0.761292,0.351868
2,76ers,2021,Philadelphia,15389.0,111.514493,3275.0,23.731884,6036.0,43.739130,0.469123,0.763703,0.366014
3,Bucks,2019,Milwaukee,23086.0,113.166667,5127.0,25.132353,9836.0,48.215686,0.449662,0.748995,0.358520
4,Bucks,2020,Milwaukee,14149.0,114.104839,3042.0,24.532258,5898.0,47.564516,0.448661,0.783145,0.355798
5,Bucks,2021,Milwaukee,16132.0,116.898551,3495.0,25.326087,6349.0,46.007246,0.470920,0.772080,0.380609

In [55]:
nba.shape

(90, 12)

In [56]:
nba.to_csv('C:/master/Pràctica II Visualització/NBA_Clear.csv', index=False, header=True)