In [1]:
import os
import glob
import pandas as pd
os.chdir("C:/master/Pràctica II Visualització/Dataset Pràctica Visualització")

In [2]:
games = pd.read_csv('C:/master/Pràctica II Visualització/Dataset Pràctica Visualització/games.csv')
games_details = pd.read_csv('C:/master/Pràctica II Visualització/Dataset Pràctica Visualització/games_details.csv')
teams = pd.read_csv('C:/master/Pràctica II Visualització/Dataset Pràctica Visualització/teams.csv')

In [3]:
print('Games dataset shape:', games.shape)
print('Games_Details dataset shape:', games_details.shape)
print('Teams dataset shape:', teams.shape)

Games dataset shape: (24677, 21)
Games_Details dataset shape: (615626, 28)
Teams dataset shape: (30, 14)

In [4]:
GAMES = pd.merge(games, games_details)
GAMES.head()

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,2021-05-26,42000102,Final,1610612755,1610612764,2020,1610612755,120.0,0.557,0.684,...,0.0,4.0,4.0,3.0,1.0,0.0,1.0,0.0,33.0,-22.0
1,2021-05-26,42000102,Final,1610612755,1610612764,2020,1610612755,120.0,0.557,0.684,...,2.0,5.0,7.0,1.0,0.0,0.0,3.0,4.0,11.0,-6.0
2,2021-05-26,42000102,Final,1610612755,1610612764,2020,1610612755,120.0,0.557,0.684,...,3.0,2.0,5.0,0.0,1.0,0.0,0.0,2.0,6.0,-11.0
3,2021-05-26,42000102,Final,1610612755,1610612764,2020,1610612755,120.0,0.557,0.684,...,1.0,2.0,3.0,1.0,0.0,0.0,0.0,2.0,4.0,-17.0
4,2021-05-26,42000102,Final,1610612755,1610612764,2020,1610612755,120.0,0.557,0.684,...,2.0,4.0,6.0,11.0,0.0,0.0,4.0,0.0,10.0,-16.0

In [5]:
NBA_GAMES = pd.merge(GAMES, teams)

NBA_GAMES.head()

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,2021-05-26,42000102,Final,1610612755,1610612764,2020,1610612755,120.0,0.557,0.684,...,WAS,Wizards,1961,Washington,Capital One Arena,20647.0,Ted Leonsis,Tommy Sheppard,Scott Brooks,Capital City Go-Go
1,2021-05-26,42000102,Final,1610612755,1610612764,2020,1610612755,120.0,0.557,0.684,...,WAS,Wizards,1961,Washington,Capital One Arena,20647.0,Ted Leonsis,Tommy Sheppard,Scott Brooks,Capital City Go-Go
2,2021-05-26,42000102,Final,1610612755,1610612764,2020,1610612755,120.0,0.557,0.684,...,WAS,Wizards,1961,Washington,Capital One Arena,20647.0,Ted Leonsis,Tommy Sheppard,Scott Brooks,Capital City Go-Go
3,2021-05-26,42000102,Final,1610612755,1610612764,2020,1610612755,120.0,0.557,0.684,...,WAS,Wizards,1961,Washington,Capital One Arena,20647.0,Ted Leonsis,Tommy Sheppard,Scott Brooks,Capital City Go-Go
4,2021-05-26,42000102,Final,1610612755,1610612764,2020,1610612755,120.0,0.557,0.684,...,WAS,Wizards,1961,Washington,Capital One Arena,20647.0,Ted Leonsis,Tommy Sheppard,Scott Brooks,Capital City Go-Go

In [6]:
NBA_GAMES.columns

Index(['GAME_DATE_EST', 'GAME_ID', 'GAME_STATUS_TEXT', 'HOME_TEAM_ID',
       'VISITOR_TEAM_ID', 'SEASON', 'TEAM_ID_home', 'PTS_home', 'FG_PCT_home',
       'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home', 'TEAM_ID_away',
       'PTS_away', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away', 'AST_away',
       'REB_away', 'HOME_TEAM_WINS', 'TEAM_ID', 'TEAM_ABBREVIATION',
       'TEAM_CITY', 'PLAYER_ID', 'PLAYER_NAME', 'START_POSITION', 'COMMENT',
       'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA',
       'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TO', 'PF', 'PTS',
       'PLUS_MINUS', 'LEAGUE_ID', 'MIN_YEAR', 'MAX_YEAR', 'ABBREVIATION',
       'NICKNAME', 'YEARFOUNDED', 'CITY', 'ARENA', 'ARENACAPACITY', 'OWNER',
       'GENERALMANAGER', 'HEADCOACH', 'DLEAGUEAFFILIATION'],
      dtype='object')

In [7]:
NBA_GAMES.shape

(617392, 61)

In [8]:
NBA_GAMES.drop('GAME_STATUS_TEXT', inplace=True, axis=1)
NBA_GAMES.drop('SEASON', inplace=True, axis=1)
NBA_GAMES.drop('TEAM_ID_home', inplace=True, axis=1)
NBA_GAMES.drop('HOME_TEAM_WINS', inplace=True, axis=1)
NBA_GAMES.drop('TEAM_ID', inplace=True, axis=1)
NBA_GAMES.drop('TEAM_CITY', inplace=True, axis=1)
NBA_GAMES.drop('PLAYER_ID', inplace=True, axis=1)
NBA_GAMES.drop('PLAYER_NAME', inplace=True, axis=1)
NBA_GAMES.drop('START_POSITION', inplace=True, axis=1)
NBA_GAMES.drop('COMMENT', inplace=True, axis=1)
NBA_GAMES.drop('MIN', inplace=True, axis=1)
NBA_GAMES.drop('FGM', inplace=True, axis=1)
NBA_GAMES.drop('FGA', inplace=True, axis=1)
NBA_GAMES.drop('FG_PCT', inplace=True, axis=1)
NBA_GAMES.drop('FG3M', inplace=True, axis=1)
NBA_GAMES.drop('FG3A', inplace=True, axis=1)
NBA_GAMES.drop('FG3_PCT', inplace=True, axis=1)
NBA_GAMES.drop('FTM', inplace=True, axis=1)
NBA_GAMES.drop('FTA', inplace=True, axis=1)
NBA_GAMES.drop('FT_PCT', inplace=True, axis=1)
NBA_GAMES.drop('OREB', inplace=True, axis=1)
NBA_GAMES.drop('DREB', inplace=True, axis=1)
NBA_GAMES.drop('REB', inplace=True, axis=1)
NBA_GAMES.drop('AST', inplace=True, axis=1)
NBA_GAMES.drop('STL', inplace=True, axis=1)
NBA_GAMES.drop('BLK', inplace=True, axis=1)
NBA_GAMES.drop('TO', inplace=True, axis=1)
NBA_GAMES.drop('PF', inplace=True, axis=1)
NBA_GAMES.drop('PTS', inplace=True, axis=1)
NBA_GAMES.drop('PLUS_MINUS', inplace=True, axis=1)
NBA_GAMES.drop('LEAGUE_ID', inplace=True, axis=1)
NBA_GAMES.drop('MIN_YEAR', inplace=True, axis=1)
NBA_GAMES.drop('MAX_YEAR', inplace=True, axis=1)
NBA_GAMES.drop('ABBREVIATION', inplace=True, axis=1)
NBA_GAMES.drop('ARENA', inplace=True, axis=1)
NBA_GAMES.drop('ARENACAPACITY', inplace=True, axis=1)
NBA_GAMES.drop('OWNER', inplace=True, axis=1)
NBA_GAMES.drop('GENERALMANAGER', inplace=True, axis=1)
NBA_GAMES.drop('HEADCOACH', inplace=True, axis=1)
NBA_GAMES.drop('DLEAGUEAFFILIATION', inplace=True, axis=1)

In [9]:
NBA_GAMES.columns

Index(['GAME_DATE_EST', 'GAME_ID', 'HOME_TEAM_ID', 'VISITOR_TEAM_ID',
       'PTS_home', 'FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home',
       'REB_home', 'TEAM_ID_away', 'PTS_away', 'FG_PCT_away', 'FT_PCT_away',
       'FG3_PCT_away', 'AST_away', 'REB_away', 'TEAM_ABBREVIATION', 'NICKNAME',
       'YEARFOUNDED', 'CITY'],
      dtype='object')

In [10]:
NBA_GAMES.shape

(617392, 21)

In [11]:
NBA_GAMES.to_csv('C:/master/Pràctica II Visualització/NBA_GAMES.csv', index=False, header=True)

In [12]:
NBA_GAMES.isnull().values.any()

False

In [13]:
NBA_GAMES['NICKNAME'].unique()

array(['Wizards', '76ers', 'Hawks', 'Knicks', 'Grizzlies', 'Jazz',
       'Celtics', 'Nets', 'Lakers', 'Suns', 'Mavericks', 'Clippers',
       'Heat', 'Bucks', 'Trail Blazers', 'Nuggets', 'Warriors', 'Pacers',
       'Spurs', 'Hornets', 'Raptors', 'Rockets', 'Cavaliers', 'Magic',
       'Pistons', 'Bulls', 'Timberwolves', 'Pelicans', 'Thunder', 'Kings'],
      dtype=object)

In [14]:
max(NBA_GAMES['GAME_DATE_EST'])

'2021-05-26'

In [15]:
min(NBA_GAMES['GAME_DATE_EST'])

'2003-10-05'

In [16]:
NBA_GAMES.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 617392 entries, 0 to 617391
Data columns (total 21 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   GAME_DATE_EST      617392 non-null  object
 1   GAME_ID            617392 non-null  int64
 2   HOME_TEAM_ID       617392 non-null  int64
 3   VISITOR_TEAM_ID    617392 non-null  int64
 4   PTS_home           617392 non-null  float64
 5   FG_PCT_home        617392 non-null  float64
 6   FT_PCT_home        617392 non-null  float64
 7   FG3_PCT_home       617392 non-null  float64
 8   AST_home           617392 non-null  float64
 9   REB_home           617392 non-null  float64
 10  TEAM_ID_away       617392 non-null  int64
 11  PTS_away           617392 non-null  float64
 12  FG_PCT_away        617392 non-null  float64
 13  FT_PCT_away        617392 non-null  float64
 14  FG3_PCT_away       617392 non-null  float64
 15  AST_away           617392 non-null  float64
 16  REB_away           617392 non-null  float64
 17  TEAM_ABBREVIATION  617392 non-null  object
 18  NICKNAME           617392 non-null  object
 19  YEARFOUNDED        617392 non-null  int64
 20  CITY               617392 non-null  object
dtypes: float64(12), int64(5), object(4)
memory usage: 103.6+ MB

In [17]:
NBA_GAMES['GAME_DATE_EST'] = pd.to_datetime(NBA_GAMES['GAME_DATE_EST'])

In [18]:
NBA_GAMES['YEAR'] = pd.DatetimeIndex(NBA_GAMES['GAME_DATE_EST']).year

In [19]:
NBA_GAMES.shape

(617392, 22)

In [20]:
NBA_GAMES.head(2)

,GAME_DATE_EST,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,...,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,TEAM_ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,YEAR
0,2021-05-26,42000102,1610612755,1610612764,120.0,0.557,0.684,0.429,26.0,45.0,...,0.402,0.633,0.091,22.0,40.0,WAS,Wizards,1961,Washington,2021
1,2021-05-26,42000102,1610612755,1610612764,120.0,0.557,0.684,0.429,26.0,45.0,...,0.402,0.633,0.091,22.0,40.0,WAS,Wizards,1961,Washington,2021

In [21]:
NBA = NBA_GAMES[NBA_GAMES['YEAR'] >= 2019]
NBA.head(2)

,GAME_DATE_EST,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,...,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,TEAM_ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,YEAR
0,2021-05-26,42000102,1610612755,1610612764,120.0,0.557,0.684,0.429,26.0,45.0,...,0.402,0.633,0.091,22.0,40.0,WAS,Wizards,1961,Washington,2021
1,2021-05-26,42000102,1610612755,1610612764,120.0,0.557,0.684,0.429,26.0,45.0,...,0.402,0.633,0.091,22.0,40.0,WAS,Wizards,1961,Washington,2021

In [22]:
NBA.shape

(84830, 22)

In [23]:
len(NBA[NBA['YEAR'] == 2019])

34295

In [24]:
len(NBA[NBA['YEAR'] == 2020])

22541

In [25]:
len(NBA[NBA['YEAR'] == 2021])

27994

In [27]:
NBA.to_csv('C:/master/Pràctica II Visualització/NBA.csv', index=False, header=True)